<h2>New Grocery</h2>

<form class="add-grocery--form" {{action 'createGrocery' on="submit"}}>
  <label>
    Name
    {{input value=name}}
  </label>
  <label>
    Quantity
    {{input value=quantity}}
  </label>
  <label>
    Notes
    {{textarea value=notes}}
  </label>
  <button class="add-grocery--submit">Submit</button>
</form>

