<h3>{{grocery.name}}</h3>

{{#if grocery.quantity}}
  <p>Quantity: {{grocery.quantity}}</p>
{{/if}}

{{#if grocery.notes}}
  <p>{{grocery.notes}}</p>
{{/if}}

<button>Purchase</button>
<button>Star</button>
<button {{action 'remove'}}>Remove</button>
