{{add-grocery}}

{{search-bar value=search searchUpdated=(action "updateSearch")}}

<div class="groceries--filters">
  {{#filter-button setAction=(action 'setFilter' null) active=filterIsAll}}
    Show All
  {{/filter-button}}

  {{#filter-button setAction=(action 'setFilter' 'starred') active=filterIsStarred}}
    Show Starred
  {{/filter-button}}

  {{#filter-button setAction=(action 'setFilter' 'purchased') active=filterIsPurchased}}
    Show Purchased
  {{/filter-button}}

  {{#filter-button setAction=(action 'setFilter' 'unpurchased') active=filterIsUnpurchased}}
    Show Unpurchased
  {{/filter-button}}
</div>

<div class="groceries">
  {{#each groceries as |grocery|}}
    {{grocery-item grocery=grocery}}
  {{/each}}
</div>

{{outlet}}
